<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestsuite" parallel="classes" thread-count="2" verbose="3">

  <listeners>
    <listener class-name="com.test.Listener"/>
  </listeners>

  <test name="HomePage">
      <parameter name="browser" value="Firefox"/>
        <classes>
<!--          <class name="com.test.UserRegistrationTest"/>-->
          <class name="com.test.LoginTest.LoginSignUpTest"/>
        </classes>
    </test>

<!--  <test name="HomePage1">-->
<!--    <parameter name="browser" value="Firefox"/>-->
<!--    <packages>-->
<!--      <package name="com.test.LoginTest"/>-->
<!--      <package name="com.test.ContactUs"/>-->
<!--      <package name="com.test.ProductsTest"/>-->
<!--    </packages>-->
<!--    <classes>-->
<!--      <class name="com.test.UserRegistrationTest"/>-->
<!--    </classes>-->
<!--  </test>-->
</suite>
